.col {
    color: rgb(51, 255, 0);
    border: 2px dotted rgb(0, 255, 255);
}

body {
    background-color: black;
}

.col1 {
    color: rgb(51, 255, 0);
    border: 2px dotted rgb(0, 255, 255);
}

.col2 {
    color: rgb(51, 255, 0);
    border: 2px dotted rgb(0, 255, 255);
}